/* Estilo global */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

header {
  position: relative;
  text-align: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      /* Capa negra con 50% de opacidad */ rgba(0, 0, 0, 0.75)
    ),
    url("img/fondo.webp"); /* Imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra todo el espacio */
  background-position: center; /* Centra la imagen */
  color: #fff; /* Color de texto blanco */
  padding: 5rem 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
  color: #888; /* Texto secundario */
}

/* Galería */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.gallery figure {
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery figure:hover img {
  transform: scale(1.1); /* Efecto de zoom */
  filter: brightness(0.8); /* Oscurece ligeramente la imagen */
}

figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

figure:hover figcaption {
  opacity: 1;
}

/* Efecto de selección */
.gallery figure:hover {
  transform: scale(1.03); /* Agranda todo el contenedor */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); /* Más sombra */
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #1e1e1e;
  color: #888;
  font-size: 0.9rem;
  border-top: 2px solid #333;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr; /* Una sola columna en móviles */
  }

  figcaption {
    font-size: 0.8rem; /* Ajusta el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }
}
